# 1. store and display student information

In [21]:
students = [("Alice", 14, "8th"), ("Bob", 15, "9th")]

for name, age, grade in students:
    print(f"{name}, {age}, {grade}")

Alice, 14, 8th
Bob, 15, 9th

# 2.list prices of grocery iteams and total them

In [22]:
items = [("Milk", 2.5), ("Bread", 1.75), ("Eggs", 3.2)]
print("Total:", sum(p for _, p in items))
items = [("Milk", 2.5), ("Bread", 1.75), ("Eggs", 3.2)]
print("Total:", sum(p for _, p in items))

Total: 7.45

# 3. pair items with prices using tuples.

In [11]:
grocery = (
    ("Milk", 2.5),
    ("Bread", 1.75),
    ("Eggs", 3.2)
)
for item, price in grocery:
    print(f"{item}: ${price}")

Milk: $2.5
Bread: $1.75
Eggs: $3.2

# 4. store and display train schedule as tuples

In [12]:
schedule = (
    ("Express A", "08:00 AM", "City X"),
    ("Local B", "09:30 AM", "Town Y"),
    ("Superfast C", "11:15 AM", "City Z")
)
print("Train Schedule:")
for train in schedule:
    name, time, destination = train
    print(f"{name} departs at {time} to {destination}")

Train Schedule:
Express A departs at 08:00 AM to City X
Local B departs at 09:30 AM to Town Y
Superfast C departs at 11:15 AM to City Z

# 5. sort employee records by salary

In [13]:
employees = [
    ("Alice", "Manager", 75000),
    ("Bob", "Developer", 60000),
    ("Charlie", "Analyst", 50000)
]
sorted_employees = sorted(employees, key=lambda x: x[2])
for emp in sorted_employees:
    print(f"{emp[0]} - {emp[1]} - ${emp[2]}")

Charlie - Analyst - $50000
Bob - Developer - $60000
Alice - Manager - $75000

# 6. cout how many  studends scored above 75 marks

In [14]:
students = [
    ("Alice", 82),
    ("Bob", 67),
    ("Charlie", 90),
    ("David", 74),
    ("Eva", 88)
]
count = sum(1 for student in students if student[1] > 75)

print(f"Students scored above 75: {count}")

Students scored above 75: 3

# 7. create a tuple of stock princes and find the max

In [15]:
stock_prices = (120.5, 135.2, 128.0, 142.75, 131.6)

max_price = max(stock_prices)
items = [("Milk", 2.5), ("Bread", 1.75), ("Eggs", 3.2)]
print("Total:", sum(p for _, p in items))

print(f"Highest stock price: ${max_price}")

Highest stock price: $142.75

# 8.log temprature readings during the day .find the average temprature

In [16]:
temperatures = (30.5, 32.0, 31.2, 29.8, 33.1, 34.0, 30.0, 31.5)
average = sum(temperatures) / len(temperatures)

print("Average Temperature:", average)

Average Temperature: 31.5125

# 9. Schedule appointment (name, time)

In [18]:
appointments = [
    ("Alice", "10:00 AM"),
    ("Bob", "11:30 AM"),
    ("Charlie", "02:00 PM")
]
print("Appointment Schedule:")
for name, time in appointments:
    print(f"{name} at {time}")

Appointment Schedule:
Alice at 10:00 AM
Bob at 11:30 AM
Charlie at 02:00 PM

# 10. store contact info(name,phone number)

In [19]:
contacts = [
    ("Alice", "123-456-7890"),
    ("Bob", "987-654-3210"),
    ("Charlie", "555-123-4567")
]
for name, phone in contacts:
    print(f"{name}: {phone}")

Alice: 123-456-7890
Bob: 987-654-3210
Charlie: 555-123-4567

# 11. Display exam schedule with subject and time

In [24]:
exam_schedule = (
    ("Math", "9:00 AM"),
    ("Science", "11:00 AM"),
    ("History", "2:00 PM")
)

print("Exam Schedule:")
for subject, time in exam_schedule:
    print(f"- {subject}: {time}")# Program 20: Use set comprehension to generate a set of squares

squares = {x**2 for x in range(1, 6)}
print("Set of squares from 1 to 5:", squares)

Exam Schedule:
- Math: 9:00 AM
- Science: 11:00 AM
- History: 2:00 PM